.fileNameInput {
    background-color: inherit;
    color: #fff;
    border: none;
    max-width: max-content;
    padding-left: 5px;
}

.fileNameInput:focus {
    background-color: inherit;
    color: #fff;
    max-width: max-content;
}