// import bootstrap styles at the bottom
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import "~bootstrap/scss/bootstrap.scss";

body {
    font-family: "Roboto";
}

.dropdown-toggle::after {
    display: none;
}

/*
Common Classes Across the Application
*/

.ht-20 {
height: 20px;
line-height: 20px;
}

.ht-30 {
height: 30px;
line-height: 30px;
}

.ht-40 {
height: 40px;
line-height: 40px;
}

.ht-60 {
height: 60px;
line-height: 60px;
}

.align-center {
text-align: center !important;
}

.dropdown-menu {
/* min-width: 300px !important; */
width: max-content;
}

.dropdown-toggle::after {
display: none;
}

.form-control {
    border-radius: 0.3rem;
}

.form-control:focus {
    box-shadow: none;
}

// My Image Checkbox
.form-check-input:focus {
    box-shadow: none;
}

.form-check-label {
    max-width: 50px;
}

.custom-form-control {
    background-color: inherit;
    border: 1px solid transparent;
    width: max-content;
}

.custom-form-control:focus {
    background-color: inherit;
    border: 1px solid;
    box-shadow: none;
}